#content
  .separator.bottom
  .heading-buttons
    %h3
      Send Verification Code 
      %span | according to ID
    .clearfix
  .separator.bottom
  
  .innerLR
    = form_for :user, :url => {:controller => "messages", :action => "notify", :method => "post" } do |f|

      .widget.widget-tabs
        .widget-body
          .tab-content
            #productDescriptionTab.tab-pane.active
 
              .row-fluid
                .span3
                  %strong Enter mobile number
                  %p.muted Send SMS to the user with the verification code.
                .span9
                  %label{:for => "inputTitle"} Contact Number
                  = f.text_field :contact_number, class: "span6"  ,placeholder: "Enter Contact Number ..."
                  .separator
              %hr.separator.bottom/

              %br
        .heading-buttons
          .buttons.pull-right{:style => "margin: 0;"}
            = f.submit "Save", :class => "btn btn-primary btn-icon glyphicons ok_2"
          .clearfix