#content
  .separator.bottom
  .heading-buttons
    %h3
      All API's
    .clearfix
  .separator.bottom
  
  .innerLR
    %b Send SMS
    %pre
      
      RestClient.post 'https://boo-app.herokuapp.com/messages/notify', {:client => {:contact_number => "+918732896323"}}
      
      Response
      
      {"status":true,"message":"Message has been sent sucessfully","code_sent":"03832","client_id":1}

  %br
  .innerLR
    %b Update the User information
    %pre.code
      :escaped
  
        RestClient.post 'https://boo-app.herokuapp.com/clients/update_info', {:client => {:id => "1",:name => "Simran", :nick_name =>"simi", :gender => "female"}}
  
        Response
        
          {
            "status": "true",
            "client_details": {
              "id": 1,
              "name": "Simran",
              "nick_name": "simi",
              "gender": "Female",
              "status": true,
              "contact_number": "+918732896323",
              "created_at": "2014-12-09T09:57:47.377Z",
              "updated_at": "2014-12-11T07:00:14.728Z",
              "friend_credit": 1
           }
          }
  %br
  .innerLR
    %b Add new friend
    %pre.code
      :escaped
  
        RestClient.post 'https://boo-app.herokuapp.com/friends/new_friend', {:client => {:client_id => "1", :contact_number => "+9112345678"}}

        Response
          1. If contact number is already in database.
          {"status":true,"message":"Request has succesfully sent to the user"}
          
          2. If contact number is not in the database. then it will send message to the client.
          {"status":true,"message":"Message has been sent to your friend of invitation to use this app."}
          
          3. If friend credit is 0. 
          {:status => false, :message => "You have used your all credits. Purchase friend credits to add new friends."} 
          
          4. If Client Id is not active.
          {:status => false, :message => "The client of mentioned ID is not active."}
                    
          5. If client Id is not present.
          {:status => false, :message => "No client of this ID"}


  %br
  .innerLR
    %b View all the request corresponding to the ID. 
    %pre.code
      :escaped
  
        RestClient.post 'https://boo-app.herokuapp.com/user_requests', {:client => {:id => "8"}}

        Response

          {
              "status": "true",
              "read_requests": 2,
              "unread_requests": 0,
              "total": 2,
              "request_details": [
                  {
                      "id": 2,
                      "sender_id": 7,
                      "rqst_status": true,
                      "client_id": 8,
                      "created_at": "2014-12-10T12:27:03.465Z",
                      "updated_at": "2014-12-11T08:20:36.639Z"
                  },
                  {
                      "id": 12,
                      "sender_id": 9,
                      "rqst_status": true,
                      "client_id": 8,
                      "created_at": "2014-12-11T05:58:13.271Z",
                      "updated_at": "2014-12-11T09:51:02.335Z"
                  }
              ]
          }        
        
  %br   
  .innerLR
    %b Accept the Request according to the ID.
    %pre.code
      :escaped
  
      
        RestClient.post 'https://boo-app.herokuapp.com/accepted', {:request => {:id => "1"}}
        
        Response
        
          {
              "status": "true",
              "message": "Request has successfuly accepted and friend has succesfully added.",
              "friend_details": {
                  "id": 5,
                  "client_id": 7,
                  "created_at": "2014-12-11T08:18:56.464Z",
                  "updated_at": "2014-12-11T08:18:56.464Z",
                  "friend_id": 10
              },
              "request_details": {
                  "id": 4,
                  "sender_id": 7,
                  "rqst_status": true,
                  "client_id": 10,
                  "created_at": "2014-12-10T13:30:47.936Z",
                  "updated_at": "2014-12-11T05:59:24.605Z"
              }
          }


  %br
  .innerLR
    %b Reject the Request according to the ID.
    %pre.code
      :escaped
  
      
        RestClient.post 'https://boo-app.herokuapp.com/rejected', {:request => {:id => "1"}}
        
        Response
          
          {
              "status": "true",
              "message": "Request has been successfuly rejected."
          }




  %br
  .innerLR
    %b When clicking on the requests button, make all the requests of particular client read.
    %pre.code
      :escaped
  
        RestClient.post 'https://boo-app.herokuapp.com/read_requests', {:client_id => "1"}
        Response
          {
              "status": "true",
              "message": "All requests has been read for this client ."
          }
          
  %br
  %br
  %br




