#content
  .separator.bottom
  .heading-buttons
    %h3
      Requests
    .clearfix
  .separator.bottom
  
  .innerLR
    .widget
      .widget-head
        = link_to "Requests", user_requests_client_path
